* {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caderno {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 396px;
    width: 662px;
    box-shadow: -6px 6px 6px 6px black;
}


body {
    font-family: "Indie Flower";
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;
    margin-top: -5px;
    padding-bottom: 10px;
}

nav ul li a {
    background-image: url("assets/papelrasgado.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 70px;
}

nav ul li a img {
    height: 20px;
}

ul {
    height: min-content;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
}

li:hover {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    line-height: 10px;
    font-size: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home #home, .paisagens #paisagens, .detalhes #detalhes, .retratos #retratos {
    margin-bottom: 20px;
}